doctype html
html
  head
    title Ajmal dance Academy 
    block scripts
    block style 
      
  body
   nav#navbar
      ul 
       div#logo
          img(src="/static/d6.png", alt="logo")
       li #[a(href="/") Home] 
       li #[a(href="/") Services] 
       li #[a(href="/") Class Info] 
       li #[a(href="/") About] 
       li #[a(href="/contact") Contact Us]
  block content
  footer#footer 
     p All Copy Right © Resived 2023